.datatable {
    height: 600px;
    padding: 20px;

    .datatableTitle {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;

        .link {
            text-decoration: none;
            color: green;
            border: 1px solid green;
            border-radius: 5px;
            padding: 5px;
            cursor: pointer;
            font-size: 16px;
            font-weight: 400;
        }
    }
    .cellWithImg {
        display: flex;
        align-items: center;

        .cellImg {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 10px;
        }
    }
    .cellWithStatus {
        padding: 5px;
        border-radius: 5px;
        &.active {
            color: green;
            background-color: rgb(0, 128, 0, 0.151);
        }
        &.pending {
            color: goldenrod;
            background-color: rgb(189, 189, 3, 0.103);
        }
        &.passive {
            color: crimson;
            background-color: rgb(225, 0, 0, 0.05);
        }
    }
    .cellAction {
        display: flex;
        align-items: center;
        gap: 15px;

        .viewButton {
            padding: 2px 5px;
            border-radius: 5px;
            border: 1px dotted rgba(0, 0, 139, 0.596);
            color: darkblue;
            cursor: pointer
        }
        .deleteButton {
            padding: 2px 5px;
            border-radius: 5px;
            color: crimson;
            border: 1px dotted rgba(220, 20, 60, 0.6);
            cursor: pointer
        }
    }
}